# Async / core
asyncio
aiofiles
aiohttp
aioshutil
anytree
apscheduler

# Downloaders / torrent
aioaria2
aioqbt
qbittorrent-api
yt-dlp[default,curl-cffi]

# API / Web
cloudscraper
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
jinja2
lxml
requests
urllib3
uvicorn
uvloop==0.21.0

# Database / Utils
dnspython
motor
natsort
psutil
pymongo
python-magic
pytz
xattr

# Media / Images
pillow
pyrofork==2.2.11
telegraph

# Languages
langcodes>=3.3.0
language_data

# Other
speedtest-cli
tenacity
tgcrypto
git+https://github.com/cinemagoer/cinemagoer
par2cmdline-turbo
pycountry
